*{
    margin: 0;
}
.box{
    text-align: center;
    font-size: x-large;
}
header{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: cursive;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:250vh;
    width: 50vw;
    text-align: center;
    font-family: cursive;
}
div{
    display: flex;
}
#result{
    text-align: center;
    font-size: x-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 5em;
}
#height{
    width: 10vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 10em;
}
#height_1{
    width: 10vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 2em;
}
#weight{
    width: 10vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 10em;      
}
#weight_1{
    width: 10vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 2em;  
}
#age{
    width: 10vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 2em;      
}
#activity{
    width: 10vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 5em;   
}
#btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 10vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.set_2{
    position: relative;
    top: 2vh;
}
footer{
    height: 18vh;
    width: auto;
    text-align: center;
    font-family: cursive;
}
aside{
    font-family: cursive;
}
#pol{
   display: block;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   top: 2em;
}
.tabl{
    height: 250vh;
    width: 50vw;
    border-width: 10px;
    border-style:groove
}
#normal_2{
    width: 10vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}
#a{
    width: 10vw;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 2em;
}
#normal{
    position: relative;
    bottom: 2em;
    font-size: x-large;       
}
section{
    height: 15vh;
    border-width: 10px;
    border-style:groove;
}
.tree{
    height: 50vh;
    width: 20vw;
    display: flex;
    float: left;
}
.tree_2{
    height: 50vh;
    width: 20vw;
    display: flex;
    float: right;
}